:host ::ng-deep,
:root {
    --primary: #E5BA73;
    --secondary: #FAF8F1;

    --black: #3A3838;
    --gray: #B1B1B1;
    --gray-light: #F4F4F4;
    
    --succes: #76D26E;
    --warning: #E5DA73;
    --error: #E57373;
}